<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>438813462334-ra41364bn0j4dsetkc9annh909o535id.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.438813462334-ra41364bn0j4dsetkc9annh909o535id</string>
	<key>API_KEY</key>
	<string>AIzaSyB686ZMXKwYGmVmZFIeNCOk5kalTYkQ07k</string>
	<key>GCM_SENDER_ID</key>
	<string>438813462334</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mapFlutter.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>projet-map-814a0</string>
	<key>STORAGE_BUCKET</key>
	<string>projet-map-814a0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:438813462334:ios:309f64aa48a2b10384666f</string>
</dict>
</plist>